{% extends "base.html" %}
 
  {% block title %}
  Request for a salary advance
  {% endblock title %}

{% block content %}

    <div id="layoutSidenav_content">

        <div class="container">
            <!-- error message used by flask -->
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
               <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
               <div style="text-align:center">{{ message }}</div>
            </div>
            {% endfor %}
        </div>
            <h1 class="mt-4">Request for a salary advance</h1><hr>

            <div class="card pmd-card single-col-form">
                <form id="apply-leave" method="post" action="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label" for="montant">Amount requested</label>
                                    <input type="number" class="form-control" id="requested_amount" name="requested_amount" required><span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label>Reason</label>
                                    <textarea class="form-control" id="reason" name="reason" required></textarea><span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary pmd-ripple-effect pmd-btn-raised" name="applyleave" value="Apply Leave">Apply</button>
                    </div>
                </form>
            </div>
        </div>
       </div>
    </div>
    </div>

{% endblock content %}

