{% extends "base.html" %}
 
  {% block title %}
    les demandes d'avance sur salaire
  {% endblock title %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

<h1 class="mt-4">Les demandes d'avance sur salaire</h1><hr>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        liste des avances
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Nom</th>
                <th scope="col">Motant demandé</th>
                <th scope="col">Motif</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ matricule }}</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
</main>

{% endblock content %}









