{% extends "base.html" %}
 
  {% block title %}
  liste des employés
  {% endblock title %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
<h1 class="mt-4">Liste des employés</h1><hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        liste des employés
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Département</th>
                <th scope="col">Salaire</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in list_users %}
                  <tr>
                      <td>{{ user['matricule'] }}</td>
                      <td>{{ user['firstname'] }}</td>
                      <td>{{ user['lastname'] }}</td>
                      <td>{{ user['dep'] }}</td>
                      <td>{{ user['salaire'] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
          </table>
    </div>
</div>
</div>
</main>

{% endblock content %}









<th>Nom</th>
<th>Position</th>
<th>Département</th>
<th>Date de début</th>
<th>Salaire</th>