{% extends "base.html" %}
 
  {% block title %}
  liste des départements
  {% endblock title %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
<h1 class="mt-4">liste des départements</h1><hr>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Liste des départements
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom Départements</th>
                <th scope="col">nombre d'employés</th>

              </tr>
            </thead>
            <tbody>
              {% for dep in list_dep %}
                  <tr>
                      <td>{{ dep['name'] }}</td>
                      <td>{{ dep['count'] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
          </table>
    </div>
</div>
</div>
</main>

{% endblock content %}









<th>Nom</th>
<th>Position</th>
<th>Département</th>
<th>Date de début</th>
<th>Salaire</th>